## Module 1: Basic

In [12]:
#assign height and width
height <- 4
width <- 3
#calculate the value for area
area <- height*width

In [13]:
#prints the variables in the workspace
ls()

[1] "area"   "height" "width"

In [14]:
#remove the value area in the workspace
rm(area)

In [15]:
ls()

[1] "height" "width"

In [16]:
class(height)

[1] "numeric"

In [21]:
class(TRUE)
class(NA)

[1] "logical"

[1] "logical"

In [22]:
class(2)

[1] "numeric"

In [23]:
class(2L)

[1] "integer"

## Module 2: Vectors

In [26]:
drawnsuits <- c("hearts", "spades", "diamonds", "diamonds", "spades")
drawnsuits

[1] "hearts"   "spades"   "diamonds" "diamonds" "spades"

In [27]:
is.vector(drawnsuits)

[1] TRUE

In [29]:
remain <- c(11, 12, 13, 10)
remain

[1] 11 12 13 10

In [30]:
suits <- c("spades", "diamonds", "hearts", "clubs")

In [31]:
names(remain) <- suits

In [33]:
remain

  spades diamonds   hearts    clubs
      11       12       13       10

In [34]:
drawn_ranks <- c(7, 4, "A", 10, "K", 3, 2, "Q")
drawn_ranks

[1] "7"  "4"  "A"  "10" "K"  "3"  "2"  "Q"

In [35]:
earnings <- c(50, 100, 30)
earnings

[1]  50 100  30

In [36]:
earnings*3

[1] 150 300  90

In [37]:
expenses <- c(30, 40, 80)
expenses

[1] 30 40 80

In [38]:
earnings - expenses

[1]  20  60 -50

In [39]:
bank <- earnings -expenses
sum(bank)

[1] 30

In [40]:
earnings > expenses

[1]  TRUE  TRUE FALSE

In [41]:
remain <- c(spades = 11, hearts = 12, diamonds = 11, clubs = 13)

In [42]:
remain

  spades   hearts diamonds    clubs
      11       12       11       13

In [43]:
remain[1]

spades
    11

In [44]:
remain[3]

diamonds
      11

In [50]:
remain["clubs"]

clubs
   13

In [53]:
remain[-1]

  hearts diamonds    clubs
      12       11       13

In [54]:
vec <- c(T, F, T, F)
remain[vec]

  spades diamonds
      11       11